/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */
body {
  background: #8080801a;
}

.title {
  margin: 20;
  text-align: center;
  color: black;
}
.title h3{
  font-size: 60px;
}
